.header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    box-shadow: 0px 6px 18px -9px rgba(0, 0,0, 0.3);
}

.header__icon{
    object-fit: contain;
    height: 35px;
    margin-left: 20px;
}

.header__centre{
    display: flex;
    flex: 1;
    align-items: center;
    max-width:fit-content;
    padding: 10px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 999px;

}

.header__centre>input{
    width: 250px;
    border: none;
    padding: 10px;
    outline-width: 0;
}

.header__right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 80px;
}

@media screen and (max-width: 700px){
    .header__centre>input{
        width: 150px;
    }
}


@media screen and (max-width: 600px) {
    .header__icon{
        padding-left: 10px;
        height: 20px;
    }
    .header__right{
        padding-right: 10px;
    }
    .header__centre{
        height: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .header__centre>input{
        width: 30px;
    }
    .header__icon{
        margin-left: 0px;
    }
    .header{
        padding: 0;
    }
}

@media screen and (max-width: 350px){
    .header{
        padding-top: 10px;
        padding-bottom: 10px;
        flex-direction: column;
    }
    .header__centre>input{
        width: 200px;
        padding: 0;
    }
}

